.banner {
  background-color: aqua;
  color: blue;
  margin-top: 75px;
  text-align: center;
  padding: 100px 0;
}
#beyond {
  height: 100px;
  width: 100px;
}
#refpic {
  height: 66px;
  background-color: blueviolet;
}
.bold {
  font-weight: 900;
  font-style: oblique;
  outline-color: blue;
}
